<table>
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Type Assigned</th>
            <th>Team</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Progress (%)</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let task of dataSource">
            <tr>
                <td>{{ task.name }}
                    <button (click)="addSubTask(task)" mat-icon-button color="primary">
                        <mat-icon>drag_indicator</mat-icon>
                    </button>
                </td>
                <td>{{ task.typeAssigned }}</td>
                <td>{{ task.team }}</td>
                <td>{{ task.start }}</td>
                <td>{{ task.end }}</td>
                <td>{{ task.progress }}%</td>
            </tr>
            <ng-container *ngFor="let subtask of task.subtasks">
                <tr>
                    <td>{{ subtask.name }} 
                    <button (click)="addSecondSubTask(subtask)" mat-icon-button color="primary">
                        <mat-icon>drag_indicator</mat-icon>
                    </button></td>
                    <td>{{ subtask.typeAssigned }}</td>
                    <td>{{ subtask.team }}</td>
                    <td>{{ subtask.start }}</td>
                    <td>{{ subtask.end }}</td>
                    <td>{{ subtask.progress }}%</td>
                </tr>
                <ng-container *ngFor="let subtasksub of subtask.subtasksSub">
                    <tr>
                        <td>{{ subtasksub.name }}</td>
                        <td>{{ subtasksub.typeAssigned }}</td>
                        <td>{{ subtasksub.team }}</td>
                        <td>{{ subtasksub.start }}</td>
                        <td>{{ subtasksub.end }}</td>
                        <td>{{ subtasksub.progress }}%</td>
                    </tr>
    
                </ng-container>

            </ng-container>
            
        </ng-container>
    </tbody>
</table>