.example-tree-invisible {
    display: none;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-2 , td{
    width: 12%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:first-child {
        width:4%;
    }
}

.table-header {
    .col-2 {
        color: #fff !important;
        background: #242058;
        height: 60px;
        text-align: center;
        font-weight: 700;
        &::before {
            content: '';
            width: 1px;
            height: 60px;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            background-color: #fff;
        }

        &:last-child {
            &::before {
                background-color: inherit;
            }
        }
    }
}

.col-2.name {
    text-align: left;
    justify-content: flex-start;
    padding-left: 10px;
   
}
.position-relative {
    position: relative;
}

.mdc-linear-progress {
    width: 60%;
}

span.priority {
    color: #fff !important;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.plus-icon {
    font-weight: 900;
    transform: rotate(45deg);
    position: absolute;
    background: #000;
    cursor: pointer;
    width: 30px;
    border-radius: 50%;
    right: 20px;
    box-shadow: 0px 0px 8px 0px rgb(255, 255, 255);
    top: 20px;
    height: 30px;
}

.outer-wrap {
    padding-top: 80px;
}

.fixed-right-button {
    position: absolute;
    right: 0;
}

.w-100 {
    width: 100%;
}