<div class="plus-icon" (click)="addMainTask()">
    <img src="../../assets/images/close-icon.png" alt="" width="30" height="30">
</div>
<div class="outer-wrap">
    <div class="table-header d-flex">
        <div class="col-2"></div>
        <div class="col-2">Task Name</div>
        <div class="col-2">Type</div>
        <div class="col-2">Assigned By</div>
        <div class="col-2">Priority</div>
        <div class="col-2">Team</div>
        <div class="col-2">Start</div>
        <div class="col-2">End</div>
        <div class="col-2">Progress</div>
    </div>

    <mat-tree class="w-100" [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button mat-icon-button disabled></button>
        </mat-tree-node>
        <div class="w-100">
            <mat-tree-node class="w-100" *matTreeNodeDef="let node; when: hasChild" >
                <div class="content w-100">
                    <table border="0" width="100%">
                        <tr class="d-flex">
                            <td>
                                <button *ngIf="node.item.parent_has_child" mat-icon-button
                                    [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
                                    <mat-icon class="mat-icon-rtl-mirror margin-bottom-2px">
                                        {{
                                        treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
                                        }}
                                    </mat-icon>
                                </button>
                                
                            </td>
                            <td  class="col-2 name"> {{ node.item.task_note }} 
                                <button class="fixed-right-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" [overlapTrigger]="false" class="search-menunw">
                                    <button mat-menu-item (click)="addSubTask(node.item)">
                                        <span>Add Child</span>
                                    </button>

                                    <button mat-menu-item (click)="editTask(node.item)">
                                        <span>Edit</span>
                                    </button>

                                    <button mat-menu-item (click)="deleteTask(node.item)">
                                        Delete
                                    </button>
                                </mat-menu>
                            </td>
                            <td> {{ node.item.task_type_name }}</td>
                            <td> {{ node.item.created_by_user.creator_name }}</td>
                            <td> <span class="priority" 
                                [ngClass]="{'red': node.item.priority === 'Highest' || node.item.priority === 3, 'green' : node.item.priority === 'Lowest' || node.item.priority === 2 , 'yellow': node.item.priority == 'Medium' || node.item.priority === 2 }">
                                {{ node.item.priority }}</span>
                            </td>
                            <td> {{ node.item.branch_name }}</td>
                            <td> {{ node.item.start_date | date :'short' }}</td>
                            <td> {{ node.item.due_date | date :'short' }}</td>
                            <td> <mat-progress-bar mode="determinate" [value]="node.item.task_status"></mat-progress-bar> </td>
                        </tr>
                    </table>
                </div>
            </mat-tree-node>
        </div>
    </mat-tree>
</div>