.example-tree-invisible {
    display: none;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-2 {
    width: 11.86%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
        width: 5%;
    }
}

// .inner-table {
//     margin-left: 1%;
// }

.position-relative {
    position: relative;
}

.trigger {
    cursor: pointer;
    position: absolute;
    right: 10px;
    z-index: 1;

    span {
        display: block;
        width: 4px;
        height: 4px;
        margin: 2px;
        background-color: #000;
        opacity: 1;
        transition: all .3s;
        transform-origin: center;
    }
}

.sub-classes {
    z-index: 2;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    right: -30px;
    text-align: center;
    background: #fff;
    padding: 0 4px;
    bottom: -75px;
}

.table-content {
    width: 100%;
    display: block;
}

.table-header {
    .col-2 {
        border-right: 1px solid #fff;
        color: #fff !important;
        background: #242058;
        height: 60px;
        text-align: center;
        font-weight: 700;

        &:first-child {
            background: #fff;
        }
    }
}

.inner-table .table-content {
    .table-header {
        display: none;
    }

    &:first-child {
        .table-header {
            display: flex;
        }
    }
}

.mdc-linear-progress {
    width: 60%;
}

span.priority {
    color: #fff !important;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.col-2.name {
    text-align: left;
    justify-content: flex-start;
    padding-left: 10px;
}

.plus-icon {
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    transform: rotate(45deg);
    position: absolute;
    z-index: 2222222;
    background: #000;
    cursor: pointer;
    width: 30px;
    border-radius: 50%;
    right: 20px;
    box-shadow: 0px 0px 8px 0px rgb(255, 255, 255);
    top: 20px;
}

.outer-wrap {
    padding-top: 80px;
}

.add {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #000;

    &:last-child {
        border-bottom: 0;
    }
}