<h2 mat-dialog-title>TODO NEW<div class="close-icon" mat-dialog-close><img width="30" height="30" src="../../assets/images/close-icon.png" alt=""></div></h2>
<mat-dialog-content>
    <form [formGroup]="updateTaskForm">
        <div class="container my-3 flex flex-wrap items-center">
            <div class="w-100 md:w-1/2 text-center">
                <mat-form-field appearance="outline">
                    <mat-label>Task Name</mat-label>
                    <input matInput type="text" formControlName="taskName" placeholder="Task Name">
                </mat-form-field>
            </div>
            <div class="w-100 md:w-1/2 text-center">
                <mat-form-field appearance="outline">
                    <mat-label>Task Type</mat-label>
                    <mat-select formControlName="taskType" placeholder="Task Type">
                        <mat-option *ngFor="let taskType of taskTypes" [value]="taskType.id">{{ taskType.task_type_name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="container my-3 flex flex-wrap items-center">
            <div class="w-100 md:w-1/4 text-center">
                <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="startDate" formControlName="startDate" placeholder="Start Date">
                    <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="w-100 md:w-1/4 text-center positiopn-relative">
                <mat-form-field appearance="outline">
                    <mat-label>Start Time</mat-label>
                    <div class="toggle-custom-icon-example">
                        <input [ngxTimepicker]="toggleIconStartTime" [disableClick]="true" readonly matInput formControlName="startTime" placeholder="Start Time">
                        <ngx-material-timepicker-toggle [for]="toggleIconStartTime">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px" ngxMaterialTimepickerToggleIcon>
                                <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>
                            </svg>
                        </ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleIconStartTime></ngx-material-timepicker>
                    </div>
                </mat-form-field>
            </div>
            <div class="w-100 md:w-1/4 text-center">
                <mat-form-field appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="endDate" formControlName="endDate" placeholder="End Date">
                    <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="w-100 md:w-1/4 text-center">
                <mat-form-field appearance="outline">
                    <mat-label>End Time</mat-label>
                    <div class="toggle-custom-icon-example">
                        <input [ngxTimepicker]="toggleIcon" [disableClick]="true" readonly matInput formControlName="endTime" placeholder="End Time">
                        <ngx-material-timepicker-toggle [for]="toggleIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px" ngxMaterialTimepickerToggleIcon>
                                <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>
                            </svg>
                        </ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleIcon></ngx-material-timepicker>
                    </div>
                </mat-form-field>
            </div>
        </div>
        <div class="container my-3 flex flex-wrap items-center">
            <div class="w-100 md:w-1/2">
                <div class="action-buttton-block">
                    <mat-radio-group  formControlName="taskPriority">
                        <mat-label class="bold-text">Priority : </mat-label>
                        <mat-radio-button *ngFor="let op of list" [checked]="op.checked" [value]="op.id" >{{ op.name}}</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            
        </div>
        <div class="container flex flex-wrap items-center my-3">
            <div class="w-100 md:w-full">
                <mat-form-field appearance="outline">
                    <mat-label>Describe your Task</mat-label>
                    <textarea matInput formControlName="describeTask" rows="4" placeholder="Enter 250 characters..."></textarea>
                </mat-form-field>
            </div>
        </div> 
    </form>

    <div class="action-buttton-block text-right">
        <button (click)="updateTsak()" class="btn" [disabled]="updateTaskForm.invalid">Update</button>
    </div>
</mat-dialog-content>